.encounters-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    .encounters-header {
        height: 15%;
        padding-top: 50px;
        p{
            margin: 0;
            font-size: 1.2rem;
        }
    }

    .reports{
        display: flex;
        flex-direction: column;
        height: 60%;
        overflow: scroll;
        text-align: left;
        padding: 0 5%;

        .so-many-encounters{
            margin: 10px 0;
            line-height: 1.2rem;
            p{
                margin: 0;
                font-size: 1.25rem;
            }
        }
    }

    .encounters-footer {
        height: 25%;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        .report-encounter{
            color: white;
            text-decoration: none;
            width: 40%;
            font-size: 2rem;
        }
    }
}
